<!--The content below is only a placeholder and can be replaced.-->

    <h1>{{title}}</h1>
    <nav  class="mdl-navigation">
        <!--<nav  (ngClass)="menu">-->
      <a class="mdl-navigation__link" routerLink="home" routerLinkActive="active">Home</a> |
      <a class="mdl-navigation__link" routerLink="add-book" routerLinkActive="active">Add Book</a> |
      <a class="mdl-navigation__link" routerLink="manage-book" routerLinkActive="active">Manage Book</a> |
    </nav>
    <router-outlet></router-outlet>


